<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFuelSupplyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://08346.net.dcs.hull.ac.uk/services/FuelSupplyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFuelSupplyService"
                contract="FuelSupplyService.IFuelSupplyService" name="BasicHttpBinding_IFuelSupplyService" />
        </client>
    </system.serviceModel>
</configuration>